.cart-empty-div{
    height: calc(100vh - 58px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-empty-text{
    font-size: 3rem;
    color: rgb(185, 178, 178);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cart-empty-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

.hm-cart-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    display: flex;
    align-items: center;
    gap: 5PX;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #2c3e50;
    position: relative;
}

.cart-body{
    background-color: #f1f3f6;

}
.cartContainer {
    max-width: 1300px;
    padding: 80px 0px;
    padding-bottom: 0;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    position: relative;
}

.cart-items-div {
    background-color: #fff;
    flex: 3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    padding-bottom: 0;
    /* overflow: hidden; */
}

.cart-container-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-box{
    width: 90%;
    height: auto;
    
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.left-side-cart-box{
    width: 170px;

    display: flex;
    overflow: hidden;
}

.cart-item-img{
    width: 100%;
    height: auto;
}

.right-side-cart-box{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.right-side-row-one{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #5e5a5a;
}

.right-side-row-two{
    color: rgb(5, 5, 5);
}

.right-side-row-three{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
}

.quantity-selector{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.increase, .descrease{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgb(138, 138, 138);
    background-color: #fffffff9;
    padding: 0;
    font-size: 18px;
    display: inline-block;
    padding-top: 1px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
}
.quantity-box{
    width: 40px;
    height: 22px;
    outline: 1px solid rgb(138, 138, 138);
    border-radius: 2px;
    text-align: center;
}

.disabled-btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #cac8c8;
    color: #cac8c8;
    background-color: #fffffff9;
    padding: 0;
    font-size: 18px;
    display: inline-block;
    padding-top: 1px;
    line-height: 1;
    text-align: center;
    pointer-events: none;
    cursor:not-allowed;
}
.right-side-row-four{

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.delivery-details{
    font-size: 15px;
}
.remove-cart-item{
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #ffffff00;
    border: none;
    outline: none;
    cursor: pointer;
}

.remove-cart-item:hover{
    color: #f90404;
}
.angle-bracket{
    width: 20px;
    height: 20px;
    fill: #9e9898;
    margin: 0 5px ;
    margin-top: 4px;
}
.cart-price-div {
    border-radius: 5px;
    flex: 1;
    height: 300px;
    position: sticky;
    top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price-div-heading{
    font-weight: 600;
    font-size: 18px;
    color: #716e6e;
}
.price-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.height-fix{
    padding:0 1px;
    padding-bottom: 1px;
}
.p-3{
    padding-left: 3px;
}
.price-div-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.line-break-thin{
    width: 100%;
    border-top: 1px solid #dfdede;
    margin: 15px 0;
}
.mb-0{
    margin-bottom: 5px;
}
.address-div,.price-div{
    border-radius: 5px;
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 10px 20px;
}

.deliver-to{
    color: rgb(81, 79, 79);
    font-size: 15px;
}

.deliver-to-pincode{
    color: rgb(35, 35, 35);
    font-weight: 600;
}
.change-address-button-cart{
    background-color: #ffffff00;
    color: #5920a8;
    border: none;
    border-radius: 3px;
    outline: 1px solid rgb(216, 216, 216);
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
    transition: 200ms;
}
.change-address-button-cart:hover{
    cursor: pointer;
    box-shadow: 0px 0px 8px -4px;
    transition: 200ms;
}

.line-break-cart{
    margin: 20px 0;
    width: 95%;
    border: solid rgba(180, 177, 177, 0.694) 1px;
}

.place-order-btn-div{
    width: 100%;
    height: 70px;
    box-shadow: 0px -4px 12px -10px;

    position: sticky;
    bottom: 0;

    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
}
.total-unit-text{
    font-size: 19px;
    color: #363535;
    font-weight: 500;
}
.place-order-btn{
    width: 200px;
    height: 50px;
    font-size: 19px;
    font-weight: 600;
    background-color: #5920a8;
    border-radius: 3px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 200ms;
}
.place-order-btn:hover{
    transform: scale(1.05,1.05);
    transition: 200ms;
}

.crt-footer {
    background-color: #f1f3f6;
    padding: 40px 70px;
    border-top: 1px solid #e0e0e0;
    margin-top: 50px;
}

.crt-footer-links {
    display: flex;
    justify-content: space-between;
    color: #878787;
    font-size: 14px;
}